includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/
        - tests/
    level: 5
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Access to an undefined property*'
